.footer-bg{
    background-color: #252C41;
    padding-top: 50px;
    padding-bottom: 50px;
}
.footer-links ul li{
    list-style-type: none;
    color: #858B9F;
    margin-left: -32px;
}
.footer-links ul li:hover{
    color: white;
}
.footer-bottom-bg{
    background-color: #1B2132;
}
